<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <Product Id="*" Name="mowang" Language="1033" Version="1.0.0.0" Manufacturer="Mowang" UpgradeCode="6da3b9db-c832-47d3-b8db-4735f3c46960">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="mowang" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="mowang" />
      </Directory>
    </Directory>
  </Fragment>
  <?include "Include.wxi"?>
</Wix>
